/* styles.css */

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-image: url('/img/hwwade.png');
    flex-direction: column;
    padding: 00.1px;
    color: #fff;
    display: flex;
    align-items: center;
}
#logo{
    max-width: 100px;
    margin-right: 10px;
    border-radius: 50px; 
}
nav {
    background-image: url('/img/hwwade.png');
    padding: 10px;
    border-color: #ccc;
    position: sticky;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para cada seção */
#sobre, #recursos, #pautas, #admissoes, #contato, #galeria {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

/* Adicione estilos adicionais conforme necessário */

.social-icons {
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
    
  }
  .icon-link {
    margin-right: 10px;
    text-decoration: none;
  }
  
  .icon-link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  p {
    margin: 0;
  }